# Environment and secrets
.env
env/

# Python
__pycache__/


# Django
db.sqlite3

# IDE and editors
.idea/
.vscode/
*.swp
*.swo
*~


# ----------------------
# Documents (BLOCK THESE)
# ----------------------
*.pdf
*.doc
*.docx
*.xls
*.xlsx
*.ppt
*.pptx